<footer>
  <section class="logo">
    <img src="/images/旅遊Logo.png" alt="logo">
    <h3>台灣旅遊</h3>
  </section>
  <section class="links">
    <a href="#"><img src="/images/facebook.svg" alt="facebook"></a>
    <a href="#"><img src="/images/instagram.svg" alt="instagram"></a>
    <a href="#"><img src="/images/line.svg" alt="line"></a>
  </section>
</footer>