<header>
  <section>
    <img class="logo" src="/images/旅遊Logo.png" alt="台灣旅遊Logo">
    <h1><a href="/">台灣旅遊</a></h1>
  </section>
  <nav>
    <ul>
      {{#if user}}
      <li><a href="/chat"><i class="fa-solid fa-comments" style="color: rgb(32, 195, 198)"></i> 詢問旅遊建議</a></li>
      <li><a href="/favorites/{{user.id}}"><i class="fa-solid fa-book-bookmark" style="color: rgb(32, 195, 198)"></i> 願望清單</a></li>
      <li><a href="/users/{{user.id}}"><i class="fa-solid fa-user-gear" style="color: rgb(32, 195, 198)"></i> {{user.name}}</a></li>
      <li><a href="/logout"><i class="fa-solid fa-right-from-bracket" style="color: rgb(32, 195, 198)"></i> 登出</a></li>
      {{else}}
      <li><a href="/chat"><i class="fa-solid fa-comments" style="color: rgb(32, 195, 198)"></i> 詢問旅遊建議</a></li>
      <li><a href="/signin"><i class="fa-solid fa-right-to-bracket" style="color: rgb(32, 195, 198)"></i> 登入</a></li>
      {{/if}}
    </ul>
  </nav>
</header>