{{> messages}}
<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{#each users}}
        <a class="btn btn-primary" href="/help/{{this.id}}">{{this.name}}</a>
        {{/each}}
      </div>
    </div>
  </div>
</div>