{{> messages}}
<div class="chat-title">
  <h3>詢問旅遊建議</h3>
</div>
<div class="row container m-auto d-flex justify-content-center align-items-center" style="width: 35%;">
  <form action="/chat" method="POST">
    <textarea class="form-control" type="text" placeholder="請輸入旅遊相關問題"></textarea>
    <div class="mt-5 d-flex justify-content-center align-items-center">
      <button class="d-block btn btn-primary btn-block w-25 m-auto" type="submit">詢問</button>
    </div>
  </form>
</div>