* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2px 0;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

header section {
  display: flex;
  flex: 2 1 700px;
  align-items: center;
  padding-left: 4rem;
}

header .logo {
  width: 3vw;
  height: 3vw;
}

header h1 a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1rem;
}

header nav {
  flex: 5 1 500px;
}

header nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.15s ease;
  padding-bottom: 0.3rem;
}

header nav ul li a:hover {
  color: rgb(32, 195, 198);
  border-bottom: 3px solid rgb(32, 195, 198);
  font-weight: bold;
}

.signin,
.signup {
  background-color: rgba(32, 195, 198, 0.1);
  box-shadow: 5px 8px 12px 0 rgba(0, 0, 0, 0.125);
}

section.background-img {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-image: url("/images/台北101.jpg");
  background-size: cover;
  background-position: 50% 70%;
  transition: all 0.75s ease-in-out;
}

section.background-img h3 {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  padding-left: 10%;
  line-height: normal;
}

section.background-img .filter {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

section .select {
  width: 50%;
  padding: 0 15%;
}

.attractions-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.attractions-header h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

.attractions-header .search {
  width: 30%;
}